*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

DeviceControllerServer/\.idea/codeStyles/Project\.xml

DeviceControllerServer/\.idea/gradle\.xml

DeviceControllerServer/\.idea/misc\.xml

DeviceControllerServer/\.idea/runConfigurations\.xml

DeviceControllerServer/\.idea/vcs\.xml

DeviceControllerServer/app/build\.gradle

DeviceControllerClient/\.idea/

MyApplication/\.idea/

DeviceControllerServer/app/release/
